.Messenger1 {
    width: 100%;
}

.Messenger1 .Logo {
    margin: 8px 16px;
}

.Messenger1  .ant-layout-header {
    background: #fff;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.Messenger1 .ant-layout-content {
    background: #fafafa;
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.Messenger1 .ant-layout-footer {
    background: #fff;
    padding: 16px;
}

.Messenger1 .ant-layout-sider-trigger {
    position: relative;
}

