.Logo {
    font-family: 'Pacifico', cursive;
}

button.LogoButton {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;
    outline: transparent;
}

.Logo.large {
    font-size: 30px;
}

.Logo.medium {
    font-size: 20px;
}

.Logo.large .LogoImage {
    width: 60px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.Logo.medium .LogoImage {
    width: 36px;
    margin-bottom: 4px;
}

.Logo.default {
    color: #262626;
}

.Logo.inverted {
    color: #b7c1c9;
}

.Logo > div::first-letter {
    color: #bd0303;
    display: inline-block;
    font-weight: bold;
}