.Messenger {
    width: 100%;
}

.Messenger > .ant-card-body {
    display: grid;

    padding: 0;

    grid-template-rows: minmax(200px, 400px) auto;
}

.Messenger > .ant-card-body > :nth-child(1) {
    grid-row: 1;
}

.Messenger > .ant-card-body > :nth-child(2) {
    grid-row: 2;
    background: #fafafa;
    padding: 16px;
}